body {
  background: linear-gradient(to bottom right, #0080ff33 0%, #00ffcc33 100%);
}

/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  border: 2px solid blue;
  min-height: 40px;
  font-size: 1rem;
}

.select-disabled {
  border: 0px !important;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  background-color: rgba(256, 256, 256, 0) !important;
  opacity: 1 !important;
  color: black !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  text-indent: 1px !important;
  text-overflow: "" !important;
}
